*{
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #FFFFFF;
}

.background_left{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background: #C4C4C4;
}

.background_right{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.background_right_content{
  margin:100px 0 0 120px;
}


#image{
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Login header */
.login{
  width: 380px;
}
.login-header-title{
  display: flex;
  margin-bottom: 30px;
}
.login-header-title img{
  margin-right: 10px;
}
.login-title{
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}

/* Form */
.form .login-field{
  width: 100%;
  border: 1px solid #8E8E93;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
}
.form .username{
  margin-bottom: 25px;
}
.form .forgot-password{
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 8px;
}
.form .submit{
  background: #008477;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  color:white;
  font-size: 17px;
  margin-top: 16px;
}

/* Login footer */
.login-footer hr{
  margin: 24px 0;
}
.login-footer-hr{
  position: relative;
}
.login-footer-hr div{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -10px;
}
.login-footer-hr div p{
  padding: 0 19px;
  background-color: white;
}
.login-list{
  display: flex;
  justify-content: space-between;
}
.login-list .login-item{
  border: 0.5px solid #000000;
  border-radius: 12px;
  padding: 8px 16px;
}
.login-list .login-item span{
  font-size: 16px;
  margin-left: 10px;
}
.login-footer-create{
  margin-top: 24px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}